In [53]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [54]:
df = pd.read_csv("/kaggle/input/titanic/train.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [55]:
df.shape

(891, 12)

In [56]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [57]:
X = df.drop("Survived", axis = 1)
y = df["Survived"]

In [58]:
X.isna().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [59]:
X["Sex"] = X["Sex"].map({'male': 1, "female": 0})
X.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,C
2,3,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,S
4,5,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,S

In [60]:
X = X.drop("Name", axis = 1)
X

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,1,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,0,38.0,1,0,PC 17599,71.2833,C85,C
2,3,3,0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,0,35.0,1,0,113803,53.1000,C123,S
4,5,3,1,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...
886,887,2,1,27.0,0,0,211536,13.0000,NaN,S
887,888,1,0,19.0,0,0,112053,30.0000,B42,S
888,889,3,0,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,26.0,0,0,111369,30.0000,C148,C
890,891,3,1,32.0,0,0,370376,7.7500,NaN,Q

In [61]:
# cabin
# set(X['Cabin'].to_list())

In [62]:
X["Embarked"].value_counts()

Embarked
S    644
C    168
Q     77
Name: count, dtype: int64

In [63]:
X["Embarked"] = X["Embarked"].map({"S": 3, "Q": 1, "C": 2})
X

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,1,22.0,1,0,A/5 21171,7.2500,NaN,3.0
1,2,1,0,38.0,1,0,PC 17599,71.2833,C85,2.0
2,3,3,0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,3.0
3,4,1,0,35.0,1,0,113803,53.1000,C123,3.0
4,5,3,1,35.0,0,0,373450,8.0500,NaN,3.0
...,...,...,...,...,...,...,...,...,...,...
886,887,2,1,27.0,0,0,211536,13.0000,NaN,3.0
887,888,1,0,19.0,0,0,112053,30.0000,B42,3.0
888,889,3,0,NaN,1,2,W./C. 6607,23.4500,NaN,3.0
889,890,1,1,26.0,0,0,111369,30.0000,C148,2.0
890,891,3,1,32.0,0,0,370376,7.7500,NaN,1.0

# Cabin analysis

In [162]:
import re

def process_cabin(c: str) -> tuple:
    match = re.match(r"([A-Za])(\d+)$", c)
     
    if match:
        alphabet_part = match.group(1)
        numeric_part = match.group(2)
        return alphabet_part, numeric_part #  c29 = c, 29
    else:
        if re.match(r"[A-Z]$", c):
            return c, -1, # t = t
        else:
            if len(c.split(" ")) > 1:
                temp_class = []
                temp_cabin_number = []
                for sp in c.split(" "):
                    sp.strip()
                    cabin_class, cabin_number = process_cabin(sp)
                    temp_class.append(cabin_class)
                    temp_cabin_number.append(cabin_number)
                a_set = set(temp_class)
                # print(a_set)
                if len(a_set) == 1:
                    return a_set.pop(), temp_cabin_number[0]
                else:
                    return None, None

In [166]:
process_cabin("F E34")

(None, None)

In [ ]:
X["Cabin"] = X["Cabin"].fillna("Z")
X

In [ ]:
cabin = X["Cabin"].to_list()
number_of_cabins = [0 if c is "Z" else len(c.split(" ")) for c in cabin] # Column

In [123]:
for i in range(1, 4):
    print(f"Pclass = {i}")
    pclass_df = X[X["Pclass"] == i]
    print(pclass_df.shape[0])

Pclass = 1
216
Pclass = 2
184
Pclass = 3
491

In [131]:
from collections import Counter
cabin_setup = {}
for i in range(1, 4): #pclass
    all_cabin_classes = []
    pclass_df = X[X["Pclass"] == i]
    # cabins = pclass_df["Cabin"].value_counts().keys()
    cabins = pclass_df["Cabin"]
    # print(cabins)
    for cabin in cabins:
        cabin_class, _ = process_cabin(cabin)
        all_cabin_classes.append(cabin_class)
        
    cabin_setup[i] = Counter(all_cabin_classes)

In [132]:
cabin_setup

{1: Counter({'C': 59, 'E': 25, 'A': 15, 'Z': 40, 'B': 47, 'D': 29, 'T': 1}),
 2: Counter({'Z': 168, 'D': 4, 'F': 8, 'E': 4}),
 3: Counter({'Z': 479,
          'G': 4,
          'F G73': 2,
          'F E69': 1,
          'E': 3,
          'F G63': 1,
          'F': 1})}

In [ ]:
# F with other letter combination is on pclass 3 only

In [136]:
X[X["Cabin"] == "T"]

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
339,340,1,1,45.0,0,0,113784,35.5,T,3.0

In [137]:
X.groupby("Pclass")["Fare"].mean()

Pclass
1    84.154687
2    20.662183
3    13.675550
Name: Fare, dtype: float64

In [171]:
# X["cabin_class"] = X["Cabin"].apply(process_cabin)
all_c_c = []
for val in X["Cabin"]:
    c_c, _ = process_cabin(val)
    all_c_c.append(c_c)
X["cabin_class"] = all_c_c

In [172]:
X

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,cabin_class
0,1,3,1,22.0,1,0,A/5 21171,7.2500,Z,3.0,Z
1,2,1,0,38.0,1,0,PC 17599,71.2833,C85,2.0,C
2,3,3,0,26.0,0,0,STON/O2. 3101282,7.9250,Z,3.0,Z
3,4,1,0,35.0,1,0,113803,53.1000,C123,3.0,C
4,5,3,1,35.0,0,0,373450,8.0500,Z,3.0,Z
...,...,...,...,...,...,...,...,...,...,...,...
886,887,2,1,27.0,0,0,211536,13.0000,Z,3.0,Z
887,888,1,0,19.0,0,0,112053,30.0000,B42,3.0,B
888,889,3,0,NaN,1,2,W./C. 6607,23.4500,Z,3.0,Z
889,890,1,1,26.0,0,0,111369,30.0000,C148,2.0,C
890,891,3,1,32.0,0,0,370376,7.7500,Z,1.0,Z

In [174]:
X.groupby(["Pclass", "cabin_class"])["Fare"].mean()

Pclass  cabin_class
1       A               39.623887
        B              113.505764
        C              100.151341
        D               63.324286
        E               55.740168
        T               35.500000
        Z               76.848643
2       D               13.166675
        E               11.587500
        F               23.750000
        Z               20.909673
3       E               11.000000
        F                7.750000
        G               13.581250
        Z               13.725077
Name: Fare, dtype: float64